:root {/* !SK_VRCX Midnight Violet */
	--info: "!SK_VRCX";
	--bg: url("https://sk3artemis.github.io/s-test/images/Untitled.png");
	--sk: #7300FF; /* accent color */
	--text: #CCCCFF; /* text color */
	--black: #000000; /* blackness */
}/* background css and other stuff */
*{scrollbar-color:var(--sk) transparent!important;}
body,input,select,button,textarea{color:var(--text);}
body{background:var(--bg) no-repeat;background-attachment:fixed;background-size:cover;}
.x-container{background:var(--bg) no-repeat!Important;background-attachment:fixed!Important;background-size:cover!Important;filter:saturate(.9)!Important;}
.x-aside-container{background:var(--bg) no-repeat!Important;background-attachment:fixed!Important;background-size:cover!Important;filter:saturate(.9)!Important;}
.bg-sidebar,.options-container,.favorites-page{background:var(--bg) no-repeat!Important;background-attachment:fixed!Important;background-size:cover!Important;filter:saturate(.9)!Important;}
.x-friend-item:hover{background:linear-gradient(130deg,var(--black),var(--sk))!Important;}
.x-friend-item>.avatar>img{width:100%;height:100%;border-radius:0%!important;object-fit:cover;}
.x-friend-item>.detail>.extra,.x-login-container p{color:var(--text);}
.x-friend-item>.detail>.name{color:var(--text);}
.x-friend-list>.x-friend-group{color:var(--sk);}
.x-user-dialog{background:var(--black);}
.x-user-dialog img[src*="badges"]{background-color:var(--black);border-radius:3px;}
[data-dismissable-layer=""]{background-color:var(--black);color:var(--text)!important;}
[data-slot="dialog-content"]{background-color:var(--black);}
[data-slot="carousel-next"]{background-color:var(--sk)!Important;color:var(--text)!Important;}
[data-slot="carousel-previous"]{background-color:var(--sk)!Important;color:var(--text)!Important;}
[data-sidebar="menu-button"]:hover{color:var(--sk)!Important;background-color:var(--black);}
[data-sidebar="menu-button"]:not([data-active="false"]){background:linear-gradient(130deg,var(--black),var(--sk))!Important;}
[data-sidebar="menu-sub-button"]:hover{color:var(--sk)!Important;background-color:var(--black);}
[data-sidebar="menu-sub-button"]:not([data-active="false"]){background:linear-gradient(130deg,var(--black),var(--sk))!Important;}
[data-slot="collapsible-trigger"]:hover{color:var(--sk)!Important;}
[data-slot="collapsible-trigger"]{background-color:var(--black);}
[data-slot="sidebar-menu-item"] [data-slot="tooltip-trigger"]:not([data-active="false"],[data-state*="open"],.truncate){background:linear-gradient(130deg,var(--black),var(--sk))!Important;}
[data-slot="sidebar-footer"]::before{content:var(--info);position:static;margin-left:10px;font-size:inherit;font-weight:500;color:var(--sk);filter:drop-shadow(0 0 5px #000000F0);}
[data-slot="tooltip-trigger"]:not([data-state="closed"],.truncate){color:var(--sk)!Important;background-color:var(--black);}
[data-slot="dropdown-menu-trigger"]:not(.truncate):hover{color:var(--sk)!Important;background-color:var(--black);}
[data-slot="dropdown-menu-content"]{background-color:var(--black);}
[data-slot="context-menu-trigger"]:is(.favorites-item){background-color:var(--black);}
[data-slot="context-menu-trigger"]:is(.favorites-item):hover{background-color:var(--black);border-color:var(--sk)!important;}
[data-slot="table-row"]:hover{color:var(--sk)!Important;}
[data-slot="button"]{color:var(--text)!important;border-color:var(--sk)!important;background:var(--black)!important;}
[data-slot="card"]{background:var(--black)!important;border-color:var(--sk)!important;}
[data-slot="item"]{background:var(--black)!important;border-color:var(--sk)!important;}
[aria-haspopup="dialog"]:focus{background-color:var(--black);border-color:var(--sk)!important;}
[aria-haspopup="dialog"]{background-color:var(--black);}
[x-placement^=bottom]{border-bottom-color:var(--sk);}
[x-placement^=bottom]::after{border-bottom-color:var(--black);}
.pagination{color:var(--text);background-color:var(--black);}
.pagination button:disabled{color:#730000;background-color:var(--black);}
.button{color:var(--text);background-color:var(--black)!important;border-color:var(--sk)!important;}
.button:not(.disabled):focus,.button:not(.disabled):hover{color:var(--sk);background-color:var(--black);border-color:var(--sk);}
.button:not(.disabled){background-color:var(--black);border-color:var(--sk);}
.group-item,.favorites-search-card{background:var(--black);border-color:var(--sk);}
.menu-item:hover{background-color:var(--sk);}
.menu-item.notify::after{background:var(--sk);}
.menu-item.is-active::before{background:var(--sk);}
.menu-item.is-active{color:var(--sk);}
.menu-item i{color:var(--text);}
.tag{background-color:var(--black);}
.select .input{color:var(--text);}
.switch{border-color:var(--sk);background-color:var(--black);}
/* add your css down here; or somewhere else; idc.... */
