/**
 * @name !SK_
 * @author SK_Artemis
 * @description Interesting....
 * @website /vanityurl/dotcom/steakpants/flour/flower/index11.html
*/ /* inspired by (pasted) from cv5/cv6/cv7/simple color/gradients for cv6/kaleidoscope */
:root {
	--sk: #7200ff;	/* sk color */
	--hue: 267;		/* main color hsl */
	--sat: 1;		/* saturation */
	--light: .5%;	/* light */
	--alpha: 0.6;	/* opacity */
	--shade: 100%;	/* shading */
	--image: url(https://sk3artemis.github.io/s-test/images/Untitled.png);
	--bg-pos: center;	/* background position */
	--bg-size: cover;	/* background size */
	--bg-attach: fixed;	/* idk what this is called */
	--bg-filter: saturate(calc(var(--sat, 1) * 1)); /* filtering shit */
	--gif-picker: 0.125 / 1;	/* resize gif picker aspect ratio */
	--normal-text: #d8d8db;		/* text coloring */
	--muted-text: #aeaeb4;		/* text coloring */
	--main-font: "gg sans", "Helvetica Neue", 'Karla', BioRhyme, Coda, Whitney, Helvetica Neue, Helvetica, Arial, Consolas, sans-serif;	/* font (fonts must be installed) */
	--sk_: "░██████╗██╗░░██ ██╔════╝██║░██║ ╚█████╗░█████═╝ ░╚═══██╗██╔═██╗ ██████╔╝██║░╚██ ╚═════╝░╚═╝░░═╝ ";
	--acc: #1e63b3;		/* gradient color accent */
	--dir: 130deg;		/* angle of gradient */
} /* wow crazie theme changin */
.theme-light,.theme-dark {
	--bg: hsla(var(--hue), calc(var(--sat) * 50%), var(--light), var(--alpha));	/* hue shift from cv7 */
	--hsl-bg: hsl(from var(--light) h calc(var(--sat, 1) * s) l/alpha);			/* brightness i guess.... */
	--hsl: hsl(from var(--sk) h calc(var(--sat, 1) * s) l/alpha);				/* accent color (might not work) */
	--background-surface-highest: var(--bg);	/* simple set background color */
	--background-surface-higher: var(--bg);		/* simple set background color */
	--background-surface-high: var(--bg);		/* simple set background color */
	--background-base-lowest: var(--bg);		/* simple set background color */
	--background-base-lower: var(--bg);			/* simple set background color */
	--background-base-low: var(--bg);			/* simple set background color */
	--background-floating: var(--bg) !important;/* simple set background color */
	--text-link: var(--hsl);	/* link color */
	/* SET DEFAULTS */
	--font-primary: var(--main-font);
	--font-display: var(--main-font);
	--text-default: hsl(from var(--normal-text) h calc(var(--sat, 1) * s) l/alpha);
	--text-muted: hsl(from var(--muted-text) h calc(var(--sat, 1) * s) l/alpha);
} /* background css from ClearVisionV67 */
:is(html,body,._51fd70792ee2e563-appMount){background:none;}
:is(._49fc18ba07c5025f-root,._8a031a135bfcb9ba-container){background:var(--bg);border:none;box-shadow:none;}
._960e4207cea8323e-bg{background:var(--image) var(--bg-pos) / var(--bg-size) no-repeat;background-attachment:var(--bg-attach);filter:var(--bg-filter);z-index:-1;}
._6981dc6d72610110-root{background:var(--image) var(--bg-pos) / var(--bg-size) no-repeat;background-attachment:var(--bg-attach);filter:var(--bg-filter);z-index:0;}
.a21736575ea33af0-videoGrid{background:var(--image) var(--bg-pos) / var(--bg-size) no-repeat;background-attachment:var(--bg-attach);filter:var(--bg-filter);z-index:0;}
.a3002d7de5be5280-app{background:var(--image) var(--bg-pos) / var(--bg-size) no-repeat;}
.a2f5142ba8328dfd-container{background:var(--hsl-bg);}
.ef3116c2da186559-wrapper{margin-bottom:var(--app-height);background:rgba(0,0,0,0);padding-top:10px;}
._160d8e55254637e5-app{background:hsl(from var(--hsl-bg) h s l/calc(var(--sat) * 0.1));}
._46696d17714f10ab-wanderingCubes._46696d17714f10ab-item{background:var(--hsl);}
._46696d17714f10ab-path{stroke:var(--hsl);}
._49fc18ba07c5025f-header,._49fc18ba07c5025f-content,._49fc18ba07c5025f-footer{background:var(--bg);} 
._740174f3d6a2c8fe-channelTextArea:focus-within{border-color:rgba(0,0,0,0);box-shadow:0 0 0 2px var(--hsl);}
._740174f3d6a2c8fe-channelTextArea{box-shadow:0 0 0 2px rgb(30,30,30);background-color:var(--bg);}
._740174f3d6a2c8fe-scrollableContainer{background-color:var(--bg);background:rgba(0,0,0,0);}
.f75fb00fb7356cbe-chat{background:rgba(0,0,0,0);}
/* vencord specific stuff */
.vc-card-base{background:var(--bg);border:none}
.vc-addon-card{background:var(--bg);border:none}
.vc-btn-primary{background:var(--bg);border:none}
.vc-settings-quickActions-pill{background:var(--bg);}
.vc-switch-container.vc-switch-checked{background:var(--hsl)!important;}
.vc-switch-container{background:hsl(from var(--hsl)h s l/0.2)!important;}
.vc-notification-root{background:var(--bg);}
/* adblock i guess.... */
.d6f39bdbd19328a0-popover{display:none;}
.a230e00e14310f70-wrapper{display:none;}
._4ed1af9a212b8f4f-newBadge{display:none;}
._2b1f52e43a8f1c02-textBadge{display:none;}
._4ed1af9a212b8f4f-marketingBadgeTooltip{display:none;}
/* !SK_ in top left and SK logo in settings version info */
.c38106a3f0c3ca76-leading::before{content:"!SK_";position:static;margin-left:10px;font-size:16px;font-weight:600;color:var(--sk);order:2;filter:drop-shadow(0 0 5px var(--hsl));}
._2debea61131de3de-clickable::before{content:var(--sk_);color:var(--sk);font-size:12px;line-height:1.3333333333;font-weight:400;font-family:var(--font-primary);}
/* some other changes/fixes (small user thingy) */
.visual-refresh section._5e434347c823b592-panels{
left:calc(var(--custom-guild-list-width) + var(--space-xs));
width:calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
box-sizing:content-box;.e131a99484292a19-wrapper button{padding: 0;}}
nav._5e434347c823b592-panels{margin-bottom:0!important;}
._5e434347c823b592-panels:after{display:none;}
/* gif picker resizing and transparent gif favorite button */
[class*="_740174f3d6a2c8fe-expressionPickerPositionLayer"] [class*="_084343c4f11eaaab-positionContainer"]{height:calc(75vh - 100px);}
[class*="_740174f3d6a2c8fe-expressionPickerPositionLayer"] [class*="_084343c4f11eaaab-drawerSizingWrapper"]{
	max-height:100%;bottom:0px;height:auto;aspect-ratio:var(--gif-picker);}
[class*='b7e1cb0370c2dd0e-gifFavoriteButton']{background-color:transparent;}
/* dashless addon and custom font: https://github.com/Vendicated/random-files */
@font-face{font-family:"Twemoji Mozilla";src:url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");unicode-range:U+1F1E6-1F1FF;}
@font-face{font-family:"dashless";src:url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
	size-adjust:100%; /*adjust this to change word spacing*/
	unicode-range: U+002D;}
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
	[class^=titleWrapper] > h1, /* top bar with topic */
	[id^=":r"] > h1, /* topic popup */
	[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
	.channelWithIcon, /* channel mentions in chat */
	[class^=emptyChannelIcon_] + h3, /* start of new channel */
	[class^=emptyChannelIcon_] ~ [class*=description_],
	[class^=browser_] [class*=channelText_], /* channel browser*/
	[class^=returnButton_] [class^=text-], /*return button in channel browser*/
	[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
	[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
	.vc-permviewer-perms-title, /* permissionsviewer */
	[class^=headerChannelContainer_] > div /* invite to channel dialog */
{font-family:"Twemoji Mozilla","dashless",var(--font-primary);}
/* ### Gradients for Clearvision v6.3.0 by Nyx ### */ /* had to fix/update this */
._3b95d7d910416e54-unread:after,
._3b95d7d910416e54-bar:after,
._972a0d22c8afa7f0-channel._972a0d22c8afa7f0-interactive._972a0d22c8afa7f0-interactiveSelected:after,
._2b1f52e43a8f1c02-numberBadge,
._2b1f52e43a8f1c02-textBadge,
._201d5e8a3c09670a-lookFilled,
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand,
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorGreen,
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary,
._581051df43c5ebb6-item,
._5bc7ed9d4097f6b5-circleIconButton,
._6e9f8dce4cc18de3-childWrapper,
.sk_theme [style*="background-color:"] {background:linear-gradient(var(--dir),var(--bg),var(--sk)) !important;}
.a562c840daab72a7-bar,
.a562c840daab72a7-barFill,
.b26b790fd1005393-mediaBarGrabber,
.b26b790fd1005393-mediaBarProgress,
.b26b790fd1005393-mediaBarProgress:before,
.b26b790fd1005393-mediaBarProgress:after,
.b26b790fd1005393-bubble,
.sk_theme [style*="background-color:"] {background:linear-gradient(var(--dir),var(--acc),var(--sk)) !important;}
.c8ffbb79449f399c-members .c8ffbb79449f399c-membersWrap:not([style*="color: rgb"], #MemberCount h3) span,
._99e7cad8d4c55236-privateChannelsHeaderContainer ._99e7cad8d4c55236-headerText {
  background-image:linear-gradient(var(--dir),var(--sk)) !important;
  -webkit-background-clip:text;color:transparent!important;}
.c8ffbb79449f399c-members .c8ffbb79449f399c-membersGroup:not([style*="color: rgb"]):before,
.privateChannels__35e86 ._99e7cad8d4c55236-privateChannelsHeaderContainer:before {
  background:linear-gradient(to left, var(--sk) 50%, transparent) !important;}
.c8ffbb79449f399c-members .c8ffbb79449f399c-membersGroup:not([style*="color: rgb"]):after,
.privateChannels__35e86 ._99e7cad8d4c55236-privateChannelsHeaderContainer:after {
  background:linear-gradient(to right, var(--sk) 50%, transparent) !important;}
.b26b790fd1005393-mediaBarWrapper,.b26b790fd1005393-mediaBarProgress,.b26b790fd1005393-buffer{border-radius: 3px;}
._2b1f52e43a8f1c02-numberBadge,._2b1f52e43a8f1c02-textBadge{box-shadow: none !important;}
.b26b790fd1005393-fakeEdges:before,.b26b790fd1005393-fakeEdges:after{content: unset;}